<h2>Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <section class="content">
    <div class="box box-primary">
      
      <div class="box-body">
        <div class="form-group">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>
      </div> 

      <div class="box-body">
        <div class="form-group">
          <%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "current-password" %>
        </div>
      </div> 

      <div class="box-body">
        <div class="form-group">
          <% if devise_mapping.rememberable? %>
            <div class="field">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
          <% end %>
        </div>
      </div>

      <div class="box-body">
        <button class="btn btn-primary" data-toggle="control-sidebar">
          Log in
          <% f.submit "Log in" %>
        </button>
      </div>

    </div>  
  </section>  
<% end %>

<a class="btn btn-default" data-toggle="control-sidebar" href="/librarians/password/new">Forgot your password?</a>
