<h1>Editing Author</h1>

<% @button_name = "Update Author" %>
<%= render 'form', author: @author %>

<a class="btn btn-default" data-toggle="control-sidebar" href="/authors">Back</a> |
<a class="btn btn-info" data-toggle="control-sidebar" style="color: white;" href="/authors/<%=@author.id%>">Show</a>
