<%= form_with(model: client, local: true) do |form| %>
  <% if client.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(client.errors.count, "error") %> prohibited this client from being saved:</h2>

      <ul>
      <% client.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <section class="content">
    <div class="box box-primary">
      
      <div class="box-body">
        <div class="form-group">
          <label for="client_name">Name</label>
          <input class="form-control" placeholder="Client name" type="text" name="client[name]" id="client_name" />
        </div>
      </div>

      <div class="box-body">
        <button class="btn btn-primary" data-toggle="control-sidebar">
          <%= @button_name%>
          <% form.submit %>
        </button>
      </div>
    </div>
  </section>    
  
<% end %>

