<h1>Editing Client</h1>

<% @button_name = "Update Client" %>
<%= render 'form', client: @client %>

<a class="btn btn-default" data-toggle="control-sidebar" href="/clients">Back</a> |
<a class="btn btn-info" data-toggle="control-sidebar" style="color: white;" href="/clients/<%=@client.id%>">Show</a>
