<h1>Showing Client</h1>
<section class="content">

  <p id="notice"><%= notice %></p>


  <div class="box box-primary">

    <div class="box-body">
      <table class="table table-bordered">
        <tbody>
          <tr>
            <td><strong>Name</strong></td>
            <td><%= @client.name %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>    
</section>

<a class="btn btn-default" data-toggle="control-sidebar" href="/clients">Back</a> |
<a class="btn btn-info" data-toggle="control-sidebar" style="color: white;" href="/clients/<%=@client.id%>/edit">Edit</a>

