<%= form_with(model: book, local: true) do |form| %>
  <% if book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(book.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
      <% book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <section class="content">
    <div class="box box-primary">
      
      <div class="box-body">
        <div class="form-group">
          <label for="book_name">Title</label>
          <input class="form-control" placeholder="Book Tilte" type="text" name="book[name]" id="book_name" />
        </div>
      </div>

      <div class="box-body">
        <div class="form-group">
          <label for="book_stock">Stock</label>
          <input class="form-control" placeholder="Stock" type="number" name="book[stock]" id="book_stock" />
        </div>
      </div>

      <div class="box-body">
        <div class="form-group">
          <label for="book_categorie_id">Category</label>
          <select class="form-control" name="book[categorie_id]" id="book_categorie_id" >
              <option value="">Select a category</option>

              <% @category_options_for_select.each do |category|%>
                <option value="<%=category.id%>" ><%= category.name%></option>
              <%end%>

          </select>  
        </div>
      </div>

      <div class="box-body">
        <div class="form-group">
          <label for="book_author_id">Author</label>
          <select class="form-control" name="book[author_id]" id="book_author_id">
              <option value="">Select an author</option>

              <% @author_options_for_select.each do |author|%>
                <option value="<%=author.id%>" ><%= author.name%></option>
              <%end%>

          </select>  
        </div>
      </div>

      <div class="box-body">
        <button class="btn btn-primary" data-toggle="control-sidebar">
          <%= @button_name%>
          <% form.submit %>
        </button>
      </div>    

    </div>


  </section>
  
<% end %>
