<h1>Editing Book</h1>

<% @button_name = "Update Book" %>
<%= render 'form', book: @book %>

<a class="btn btn-default" data-toggle="control-sidebar" href="/books">Back</a> |
<a class="btn btn-info" data-toggle="control-sidebar" style="color: white;" href="/books/<%=@book.id%>">Show</a>
