<body class="skin-blue sidebar-mini fixed <%= params[:controller].parameterize %> <%= action_name %>">

    <!-- Main content -->
    <section class="content">
      
      <p id="notice"><%= notice %></p>

      <%= search_form_for @q do |f| %>
        <% f.label :name_or_author_name_or_categorie_name_cont %>
        <p><strong>Search for a book title, an author or a category</strong></p>
        <%= f.search_field :name_or_author_name_or_categorie_name_cont %>
        <%= f.submit%>
      <%end%>

      <br>


      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Books</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th><%= sort_link(@q, :name) %></th>
                <th><%= sort_link(@q, :stock) %></th>
                <th>Category</th>
                <th>Author</th>
                <th colspan="3"></th>
              </tr>
            </thead>

            <tbody>
              <% @books.each do |book| %>
                <tr>
                  <td><%= book.name %></td>
                  <td><%= book.stock %></td>
                  <td><%= book.categorie.name %></td>
                  <td><%= book.author.name %></td>
                  <td><%= link_to 'Show', book %></td>
                  <td><%= link_to 'Edit', edit_book_path(book) %></td>
                  <td><%= link_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
      <%= yield %>
    </section><!-- /.content -->

    <br>

    <a class="btn btn-primary" style="color: white;" href="/books/new">New Book</a>
    
    
</body>


















































