
<h1>Showing Book</h1>
<section class="content">

  <p id="notice"><%= notice %></p>


  <div class="box box-primary">

    <div class="box-body">
      <table class="table table-bordered">
        <tbody>
          
          <tr>
            <td><strong>Stock</strong></td>
            <td><%= @book.stock %></td>
          </tr>

          <tr>
            <td><strong>Name</strong></td>
            <td><%= @book.name %></td>
          </tr>

          <tr>
            <td><strong>Category</strong></td>
            <td><%= @book.categorie.name %></td>
          </tr>

          <tr>
            <td><strong>Author</strong></td>
            <td><%= @book.author.name %></td>
          </tr>

        </tbody>
      
      </table>
    </div>      
  </div>  
</section>

<a class="btn btn-default" data-toggle="control-sidebar" href="/books">Back</a> |
<a class="btn btn-info" data-toggle="control-sidebar" style="color: white;" href="/books/<%=@book.id%>/edit">Edit</a>
