<h2>Change your password</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <%= f.hidden_field :reset_password_token %>

  <section class="content">
    <div class="box box-primary">

      <div class="box-body">
        <div class="form-group">
          <%= f.label :password, "New password" %><br />
          <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em><br />
          <% end %>
          <%= f.password_field :password, autofocus: true, autocomplete: "new-password" %>
        </div>
      </div>

      <div class="box-body">
        <div class="form-group">
          <%= f.label :password_confirmation, "Confirm new password" %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
        </div>
      </div>  

      <div class="box-body">
        <button class="btn btn-primary" data-toggle="control-sidebar">
          Change my password
          <% f.submit "Change my password" %>
        </button>
      </div>

    </div>
  </section>

<% end %>

<a class="btn btn-default" data-toggle="control-sidebar" href="/librarians/sign_in">Log in</a>
