<h2>Forgot your password?</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <section class="content">
    <div class="box box-primary">

      <div class="box-body">
        <div class="form-group">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>
      </div>  

      <div class="box-body">
        <button class="btn btn-primary" data-toggle="control-sidebar">
          Send me reset password instructions
          <% f.submit "Send me reset password instructions" %>
        </button>
      </div>

    </div>
  </section>    

<% end %>

<a class="btn btn-default" data-toggle="control-sidebar" href="/librarians/sign_in">Log in</a>
