<%= form_with(model: reservation, local: true) do |form| %>
  <% if reservation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(reservation.errors.count, "error") %> prohibited this reservation from being saved:</h2>

      <ul>
      <% reservation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <section class="content">
    <div class="box box-primary">
      
      <div class="box-body">
        <div class="form-group">
          <label for="reservation_book_id">Book</label>
          <select class="form-control" name="reservation[book_id]" id="reservation_book_id" >
              <option value="">Select a book title</option>

              <% @book_options_for_select.each do |book|%>
                <option value="<%= book.id%>" ><%= book.name%></option>
              <%end%>

          </select>  
        </div>
      </div>

      <div class="box-body">
        <div class="form-group">
          <label for="reservation_client_id">Client</label>
          <select class="form-control" name="reservation[client_id]" id="reservation_client_id" >
              <option value="">Select a client name</option>

              <% @client_options_for_select.each do |client|%>
                <option value="<%= client.id%>" ><%= client.name%></option>
              <%end%>

          </select>  
        </div>
      </div>

      <div class="box-body">
        <div class="form-group">
          <label for="reservation_librarian_id">Librarian</label>
          <select class="form-control" name="reservation[librarian_id]" id="reservation_librarian_id" >
              <option value="">Select a librarian name</option>

              <% @librarian_options_for_select.each do |librarian|%>
                <option value="<%= librarian.id%>" ><%= librarian.name%></option>
              <%end%>

          </select>  
        </div>
      </div>

      <div class="box-body">
        <button class="btn btn-primary" data-toggle="control-sidebar">
          <%= @button_name%>
          <% form.submit %>
        </button>
      </div>    

    </div>


  </section>
  
<% end %>

