<h1>Editing Reservation</h1>

<% @button_name = "Update Rservation" %>
<%= render 'form', reservation: @reservation %>

<a class="btn btn-default" data-toggle="control-sidebar" href="/reservations">Back</a> |
<a class="btn btn-info" data-toggle="control-sidebar" style="color: white;" href="/reservations/<%=@reservation.id%>">Show</a>
