<body class="skin-blue sidebar-mini fixed <%= params[:controller].parameterize %> <%= action_name %>">

    <!-- Main content -->
    <section class="content">
      
      <p id="notice"><%= notice %></p>

      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Reservations</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Book</th>
                <th>Client</th>
                <th>Librarian</th>
                <th colspan="3"></th>
              </tr>
            </thead>

            <tbody>
              <% @reservations.each do |reservation| %>
                <tr>
                  <td><%= reservation.book.name %></td>
                  <td><%= reservation.client.name %></td>
                  <td><%= reservation.librarian.name %></td>
                  <td><%= link_to 'Show', reservation %></td>
                  <!--<td><%= link_to 'Edit', edit_reservation_path(reservation) %></td>-->
                  <td><%= link_to 'Destroy', reservation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
      <%= yield %>
    </section><!-- /.content -->

    <br>

    <a class="btn btn-primary" style="color: white;" href="/reservations/new">New Reservation</a>
    
    
</body>
