<h1>New Reservation</h1>

<% @button_name = "Create Reservation" %>
<%= render 'form', reservation: @reservation %>

<a class="btn btn-default" data-toggle="control-sidebar" href="/reservations">Back</a>
