
<h1>Showing Reservation</h1>
<section class="content">

  <p id="notice"><%= notice %></p>


  <div class="box box-primary">

    <div class="box-body">
      <table class="table table-bordered">
        <tbody>
          
          <tr>
            <td><strong>Book</strong></td>
            <td><%= @reservation.book.name %></td>
          </tr>

          <tr>
            <td><strong>Client</strong></td>
            <td><%= @reservation.client.name %></td>
          </tr>

          <tr>
            <td><strong>Librarian</strong></td>
            <td><%= @reservation.librarian.name %></td>
          </tr>

        </tbody>
      
      </table>
    </div>      
  </div>  
</section>

<a class="btn btn-default" data-toggle="control-sidebar" href="/reservations">Back</a>
