<%= form_with(model: category, local: true) do |form| %>
  <% if category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
      <% category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <section class="content">
    <div class="box box-primary">
      
      <div class="box-body">
        <div class="form-group">
          <label for="category_name">Name</label>
          <input class="form-control" placeholder="Category name" type="text" name="category[name]" id="category_name" />
        </div>
      </div>

      <div class="box-body">
        <button class="btn btn-primary" data-toggle="control-sidebar">
          <%= @button_name%>
          <% form.submit %>
        </button>
      </div>
    </div>
  </section>    
  
<% end %>
