<h1>Editing Category</h1>

<% @button_name = "Update Category" %>
<%= render 'form', category: @category %>

<a class="btn btn-default" data-toggle="control-sidebar" href="/categories">Back</a> |
<a class="btn btn-info" data-toggle="control-sidebar" style="color: white;" href="/categories/<%=@category.id%>">Show</a>

