<%= form_with(model: librarian, local: true) do |form| %>
  <% if librarian.errors.any?%>
    <div id="error_explanation">
      <h2><%= pluralize(librarian.errors.count, "error") %> prohibited this librarian from being saved:</h2>

      <ul>
        <% librarian.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  
    <section class="content">
      <div class="box box-primary">
        
        <div class="box-body">
          <div class="form-group">
            <label for="librarian_name">Name</label>
            <input class="form-control" placeholder="Librarian name" type="text" name="librarian[name]" id="librarian_name" />
          </div>
        </div>

        <div class="box-body">
          <div class="form-group">
            <label for="librarian_email">Email</label><br />
            <input class="form-control" autofocus="autofocus" autocomplete="email" type="email" value="" name="librarian[email]" id="librarian_email" />
          </div>
        </div>

      
        <div class="box-body">
          <div class="form-group">
            <label for="librarian_password">Password</label> (minimun 6 characters)<br />
            <input class="form-control" autocomplete="new-password" type="password" name="librarian[password]" id="librarian_password" />
          </div>
        </div>

        <div class="box-body">
          <div class="form-group">
            <label for="librarian_password_confirmation">Password confirmation</label><br />
            <input class="form-control" autocomplete="new-password" type="password" name="librarian[password_confirmation]" id="librarian_password_confirmation" />
          </div>
        </div>

        <div class="box-body">
          <button class="btn btn-primary" data-toggle="control-sidebar">
            <%= @button_name%>
            <% form.submit %>
          </button>
        </div>

      </div>
    </section>

<% end %>

