<h1>Editing Librarian</h1>

<% @button_name = "Update Librarian" %>
<%= render 'form', librarian: @librarian %>

<a class="btn btn-default" data-toggle="control-sidebar" href="/librarians">Back</a> |
<a class="btn btn-info" data-toggle="control-sidebar" style="color: white;" href="/librarians/<%=@librarian.id%>">Show</a>

