<body class="skin-blue sidebar-mini fixed <%= params[:controller].parameterize %> <%= action_name %>">

    <!-- Main content -->
    <section class="content">
      
      <p id="notice"><%= notice %></p>

      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Librarians</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Name</th>
                <th>Email</th>
                <th colspan="3"></th>
              </tr>
            </thead>

            <tbody>
              <% @librarians.each do |librarian| %>
                <tr>
                  <td><%= librarian.name %></td>
                  <td><%= librarian.email %></td>
                  <td><%= link_to 'Show', librarian %></td>
                  <td><%= link_to 'Destroy', librarian, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
      <%= yield %>
    </section><!-- /.content -->

    <br>

    <a class="btn btn-primary" style="color: white;" href="/librarians/new">New Librarian</a>
    
    
</body>
