<h1>Showing Librarian</h1>
<section class="content">

  <p id="notice"><%= notice %></p>


  <div class="box box-primary">

    <div class="box-body">
      <table class="table table-bordered">
        <tbody>
          <tr>
            <td><strong>Name</strong></td>
            <td><%= @librarian.name %></td>
          </tr>

          <tr>
            <td><strong>Email</strong></td>
            <td><%= @librarian.email %></td>
        </tbody>
      </table>
    </div>
  </div>    
</section>

<a class="btn btn-default" data-toggle="control-sidebar" href="/librarians">Back</a>
