  <!-- Main Header -->
<header class="main-header">

  <!-- Logo -->
  <a href="/" class="logo">
    <!-- mini logo for sidebar mini 50x50 pixels -->
    <span class="logo-mini"><b>GT</b>i</span>
    <!-- logo for regular state and mobile devices -->
    <span class="logo-lg"><b>Library</b></span>
  </a>

  <!-- Header Navbar -->
  <nav class="navbar navbar-static-top" role="navigation">
    <!-- Sidebar toggle button-->
    <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
      <span class="sr-only">Toggle navigation</span>
    </a>
    <!-- Navbar Right Menu -->
    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">
        <!-- Messages: style can be found in dropdown.less-->

        <!-- Notifications Menu -->
        <!-- Tasks Menu -->
        <!-- User Account Menu -->
          <% if librarian_signed_in? %>
            <li>
              <a rel="nofollow" data-method="delete" href="/librarians/sign_out">Logout</a>
            </li>  
          <%else%>
            <li>
              <a rel="nofollow" data-method="get" href="/librarians/sign_in">Log in</a>
            </li>
          <%end%>  
      </ul>
    </div>
  </nav>
</header>