<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">

  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">

    <!-- Sidebar user panel (optional) -->
    <div class="user-panel">
      <div class="pull-left image">
        <img src="/assets/user_icon.png" class="img-circle" alt="User Image" />
      </div>
      <%if librarian_signed_in?%>
        <div class="pull-left info" style="padding-top: 1em;">
          <p><%= current_librarian.name%></p>
        </div>
      <%else%>
        <div class="pull-left info" style="padding-top: 1em;">
          <p>Guest User</p>
        </div> 
      <%end%>  
    </div>

    <!-- Sidebar Menu -->
    <ul class="sidebar-menu">
      <li class="header">MENU</li>
        <!-- Optionally, you can add icons to the links -->
      <li><a href="/authors">Authors</a></li>
      <li><a href="/books">Books</a></li>
      <li><a href="/categories">Categories</a></li>
      <li><a href="/clients">Clients</a></li>
      <li><a href="/librarians">Librarians</a></li>
      <li><a href="/reservations">Reservations</a></li>
    </ul><!-- /.sidebar-menu -->
  </section>
  <!-- /.sidebar -->
</aside>